apiVersion: v1
data:
  values.yaml: |
    aio:
      additionalAnnotations:
        intents.otterize.com/service-name: opendesk-nextcloud-aio
      configuration:
        cache:
          auth:
            enabled: true
            password:
              value: c1dacba8b7c6d4e610cc740781f7aeac92d5833f
            username:
              value: default
          host: redis-headless
          port: "6379"
          tls: false
        database:
          auth:
            password:
              value: a448c9c317b2d6d475aebf70fdc3ea5f18894f34
            username:
              value: nextcloud_user
          host: postgresql
          name: nextcloud
          port: "5432"
          type: pgsql
        trustedProxy: 10.0.0.0/8
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        enabled: true
        privileged: false
        readOnlyRootFilesystem: true
        runAsGroup: 101
        runAsNonRoot: true
        runAsUser: 101
        seLinuxOptions: null
        seccompProfile:
          type: RuntimeDefault
      cron:
        resources:
          limits:
            cpu: 99
            memory: 1Gi
          requests:
            cpu: 0.1
            memory: 512Mi
        successfulJobsHistoryLimit: "0"
      debug:
        loglevel: "2"
      image:
        imagePullPolicy: IfNotPresent
        registry: registry.opencode.de
        repository: bmi/opendesk/components/platform-development/images/opendesk-nextcloud
        tag: 31.0.6@sha256:760d0f1ff724d53faa757987e7068d09df0c603e3ac4fbb8aefe1bf13270c615
      ingress:
        annotations:
          nginx.ingress.kubernetes.io/proxy-body-size: 100M
          nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
          nginx.org/client-max-body-size: 100M
          nginx.org/proxy-read-timeout: 600s
          nginx.org/proxy-send-timeout: 600s
        enabled: true
        host: files.opendesk.internal
        ingressClassName: nginx
        tls:
          secretName: opendesk-certificates-tls
      podAnnotations: null
      podSecurityContext:
        fsGroup: 101
      prometheus:
        prometheusRule:
          additionalLabels:
            release: kube-prometheus-stack
          enabled: false
        serviceMonitor:
          enabled: false
          labels:
            release: kube-prometheus-stack
      replicaCount: 1
      resources:
        limits:
          cpu: 99
          memory: 1Gi
        requests:
          cpu: 0.1
          memory: 512Mi
      service:
        annotations: null
      serviceAccount:
        annotations: null
    exporter:
      additionalAnnotations:
        intents.otterize.com/service-name: opendesk-nextcloud-exporter
      configuration:
        server: http://opendesk-nextcloud-aio
        token:
          value: aabb03d4a9ffe83d36156d863957c5ee32c775f0
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        enabled: true
        privileged: false
        readOnlyRootFilesystem: true
        runAsGroup: 65532
        runAsNonRoot: true
        runAsUser: 65532
        seLinuxOptions: null
        seccompProfile:
          type: RuntimeDefault
      enabled: true
      image:
        imagePullPolicy: IfNotPresent
        registry: registry.opencode.de
        repository: bmi/opendesk/components/platform-development/images/opendesk-nextcloud-exporter
        tag: 1.0.3@sha256:d38f211a3cdc8397deccd0243061e20972a8a796eeb9bb552fe4ddec5d56c829
      podAnnotations: null
      prometheus:
        prometheusRule:
          additionalLabels:
            release: kube-prometheus-stack
          enabled: false
        serviceMonitor:
          enabled: false
          labels:
            release: kube-prometheus-stack
      replicaCount: 1
      resources:
        limits:
          cpu: 99
          memory: 128Mi
        requests:
          cpu: 0.1
          memory: 32Mi
      serviceAccount:
        annotations: null
    global:
      imagePullSecrets: []
kind: ConfigMap
metadata:
  name: nextcloud-opendesk-nextcloud-config-map
