apiVersion: v1
data:
  values.yaml: |
    additionalAnnotations: null
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      enabled: true
      privileged: false
      readOnlyRootFilesystem: true
      runAsGroup: 1000
      runAsNonRoot: true
      runAsUser: 1000
      seLinuxOptions: null
      seccompProfile:
        type: RuntimeDefault
    extraEnvVars:
      - name: REDIS_USER
        value: default
    global:
      domain: opendesk.internal
      hosts:
        adminBot: adminbot
        collabora: office
        cryptpad: pad
        element: chat
        intercomService: ics
        jitsi: meet
        keycloak: id
        matrixNeoBoardWidget: matrix-neoboard-widget
        matrixNeoChoiceWidget: matrix-neochoice-widget
        matrixNeoDateFixBot: matrix-neodatefix-bot
        matrixNeoDateFixWidget: matrix-neodatefix-widget
        minioApi: objectstore
        minioConsole: objectstore-ui
        nextcloud: files
        notes: notes
        nubus: portal
        openproject: projects
        openxchange: webmail
        openxchangeDav: dav
        static: static
        synapse: matrix
        synapseAdmin: synapse-admin
        synapseFederation: matrix-federation
        whiteboard: whiteboard
        xwiki: wiki
      imagePullSecrets: []
    ics:
      default:
        domain: opendesk.internal
      enableSessionCookie: true
      issuerBaseUrl: https://id.opendesk.internal/realms/opendesk
      keycloak:
        realm: opendesk
      matrix:
        asSecret: b9dfbe2b3fe9caf8f69fa60c1c2da54ee57ad1be
        serverName: matrix.opendesk.internal
        subdomain: matrix
      nextcloud:
        audience: opendesk-nextcloud
        origin: files
        subdomain: files
      nordeck:
        subdomain: matrix-neodatefix-bot
      oidc:
        id: opendesk-intercom
        secret: 3b751c9f18664b9d4067ff610f25f957df82d0a0
      openxchange:
        audience: opendesk-oxappsuite
        oci: true
        url: https://webmail.opendesk.internal
      originRegex: opendesk.internal
      portal:
        apiKey: 3fcfc241e2b27da4baba1de8a3a75072ed4fca5f
      redis:
        host: redis-headless
        password: c1dacba8b7c6d4e610cc740781f7aeac92d5833f
        port: 6379
      secret: c5d4cf0a20cd682e015cea37c302dc7cdf4f6222
      userUniqueMapper: opendesk_username
      usernameClaim: opendesk_username
      xwiki:
        audience: opendesk-xwiki
        subdomain: wiki
    image:
      imagePullPolicy: IfNotPresent
      registry: registry.opencode.de
      repository: bmi/opendesk/components/supplier/univention/images-mirror/intercom-service
      tag: 2.12.0@sha256:380476d849fb353dc167ba52a6b0f6235b3fa7561c082e65c37e2242cedb0df1
    ingress:
      annotations: null
      enabled: true
      host: ics.opendesk.internal
      ingressClassName: nginx
      tls:
        enabled: true
        secretName: opendesk-certificates-tls
    podAnnotations: null
    podSecurityContext:
      enabled: true
      fsGroup: 1000
      fsGroupChangePolicy: Always
    provisioning:
      config:
        ics_client:
          clientSecret: 3b751c9f18664b9d4067ff610f25f957df82d0a0
          credentialSecret:
            key: ics_secret
        keycloak:
          connection:
            baseUrl: http://ums-keycloak:8080
            host: id.opendesk.internal
          credentialSecret:
            key: admin_password
            name: ums-opendesk-keycloak-credentials
          realm: opendesk
          url: http://ums-keycloak:8080/realms/opendesk/
          username: kcadmin
        nubusBaseUrl: https://ics.opendesk.internal
      enabled: false
      image:
        imagePullPolicy: IfNotPresent
        registry: registry.opencode.de
        repository: bmi/opendesk/components/supplier/univention/images-mirror/wait-for-dependency
        tag: 0.34.0@sha256:6ed1ae644160f0e69c00b4ea90efd4ea4aeaadeefb87e77f3454bcafaacd5e01
      provisioningImage:
        imagePullPolicy: IfNotPresent
        registry: registry.opencode.de
        repository: bmi/opendesk/components/supplier/univention/images-mirror/keycloak-bootstrap
        tag: 0.12.2@sha256:b3b058e49f9671e01530fca548a3308738aec3bf7d57c9ced9cde556f1f7545f
      resources:
        limits:
          cpu: 99
          memory: 128Mi
        requests:
          cpu: 0.1
          memory: 64Mi
      securityContext:
        seLinuxOptions: null
        seccompProfile:
          type: RuntimeDefault
    replicaCount: 1
    resources:
      limits:
        cpu: 99
        memory: 128Mi
      requests:
        cpu: 0.1
        memory: 64Mi
    service:
      annotations: null
    serviceAccount:
      annotations: null
kind: ConfigMap
metadata:
  name: nubus-intercom-service-config-map
