apiVersion: v1
data:
  values.yaml: |
    additionalAnnotations: null
    global:
      domain: opendesk.internal
      hosts:
        adminBot: adminbot
        collabora: office
        cryptpad: pad
        element: chat
        intercomService: ics
        jitsi: meet
        keycloak: id
        matrixNeoBoardWidget: matrix-neoboard-widget
        matrixNeoChoiceWidget: matrix-neochoice-widget
        matrixNeoDateFixBot: matrix-neodatefix-bot
        matrixNeoDateFixWidget: matrix-neodatefix-widget
        minioApi: objectstore
        minioConsole: objectstore-ui
        nextcloud: files
        notes: notes
        nubus: portal
        openproject: projects
        openxchange: webmail
        openxchangeDav: dav
        static: static
        synapse: matrix
        synapseAdmin: synapse-admin
        synapseFederation: matrix-federation
        whiteboard: whiteboard
        xwiki: wiki
    ingress:
      annotations: null
      ingressClassName: nginx
      tls:
        secretName: opendesk-certificates-tls
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: opendesk-services-opendesk-home-config-map
