name: Get Version

on:
  workflow_call:
    inputs:
      bumped:
        description: 'Whether to bump the version'
        type: boolean
        required: false
        default: false
    outputs:
      version:
        description: 'The new version'
        value: ${{ jobs.bump-version.outputs.version }}

jobs:
  bump-version:
    runs-on: [ubuntu-latest]
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Get new version
        id: set-version
        run: |
          if [ "${{ inputs.bumped }}" == "false" ]; then
            echo "version=$(make print-ocm-version)" >> $GITHUB_OUTPUT
          else
            echo "version=$(make print-ocm-version-bumped)" >> $GITHUB_OUTPUT
          fi

      - name: Print version
        shell: bash
        run: |
          echo "Parsed version \"${{ steps.set-version.outputs.version }}\" ..."
