name: Publish ConfigMaps

on:
  workflow_call: 
    inputs:
      version:
        description: 'The version to publish the ConfigMaps as'
        required: true
        type: string

jobs:
  values-configmap:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@main
        with:
          version: 'v2.6.4'

      - name: Login to OCI Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push ConfigMap manifests
        run: |
          flux push artifact oci://ghcr.io/${{ github.repository }}/opendesk-ocm-k8s-toolkit-values-configmaps:${{ inputs.version }} \
            --path="./ocm/values-config-maps" \
            --source="$(git config --get remote.origin.url)" \
            --revision="$(git branch --show-current)@sha1:$(git rev-parse HEAD)"